.custom-btn {
    background: #2577fd !important;
    text-transform: capitalize!important;
    color: #fff!important;
    cursor: pointer!important;
    display: inline-block!important;
    font-size: 18px!important;
    font-weight: 400!important;
    letter-spacing: 1px!important;
    line-height: 0!important;
    margin-bottom: 0!important;
    padding: 27px 44px!important;
    border-radius: 25px!important;
    margin: 10px!important;
    cursor: pointer!important;
    transition: color 0.4s linear!important;
    position: relative!important;
    z-index: 1!important;
    border: 0!important;
    overflow: hidden!important;
    margin: 0!important;
}