@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .slider-height {
        min-height: 700px !important;
    }
    .category-area .single-category .category-img .category-caption {
        right: 13px;
    }
    .category-area .single-category .category-img .category-caption h2 {
        font-size: 26px;
    }
    .category-area .single-category .category-img .category-caption .best a {
        padding: 13px 15px;
    }
    .category-area .single-category .category-img .category-caption .collection {
        font-size: 23px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-height {
        min-height: 500px !important;
    }
    .slider-area .hero__img {
        left: -28px !important;
        img {
            height: 500px !important;
        }
    }
    .slider-area .hero__caption h1 {
        font-size: 60px !important;
        line-height: 1.2 !important;
    }
    .section-padding30 {
        padding-top: 150px;
        padding-bottom: 120px;
    }
    .category-area {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-height {
        min-height: 500px !important;
    }
    .slider-area .hero__img {
        left: -83px !important;
        bottom: 0px !important;
        img {
            height: 500px !important;
        }
    }
    .slider-area .hero__caption h1 {
        font-size: 50px !important;
        line-height: 1.2 !important;
    }
    .section-padding30 {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

@media (max-width: 767px) {
    .slider-height {
        min-height: 350px !important;
    }
    .slider-area .hero__caption {
        padding-top: 38px;
        padding-left: 22px;
        h1 {
            font-size: 35px !important;
            line-height: 1.2 !important;
            margin-bottom: 26px !important;
        }
        p {
            margin-bottom: 30px !important;
        }
    }
    .category-area {
        padding-left: 0;
        padding-right: 0;
    }
    .section-padding30 {
        padding-top: 60px;
        padding-bottom: 28px;
    }
    .category-area .single-category .category-img .category-caption {
        right: 13px;
        h2 {
            font-size: 22px;
            margin-bottom: 0;
        }
    }
    .category-area .single-category .category-img .category-caption .best a {
        padding: 13px 15px;
        font-size: 12px;
    }
    .category-area .single-category .category-img .category-caption .collection {
        font-size: 20px;
    }
}