
@{
    ViewData["Title"] = "Index";
}
  @await Component.InvokeAsync("Banner",new { Title = "Blog" })


    <!-- Blog area starts -->
    <section class="blog-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-container">
                        <div class="blog-item">
                            <div class="blog-item-img">
                                <img src="images/blog1.webp" alt="">
                                <a href="http://">
                                    <h3>
                                        15
                                    </h3>
                                    <p>Jan</p>
                                </a>
                            </div>
                            <div class="blog-inform">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="blog-item-img">
                                <img src="images/blog2.webp" alt="">
                                <a href="http://">
                                    <h3>
                                        15
                                    </h3>
                                    <p>Jan</p>
                                </a>
                            </div>
                            <div class="blog-inform">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="blog-item-img">
                                <img src="images/blog3.webp" alt="">
                                <a href="http://">
                                    <h3>
                                        15
                                    </h3>
                                    <p>Jan</p>
                                </a>
                            </div>
                            <div class="blog-inform">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="blog-item-img">
                                <img src="images/blog4.webp" alt="">
                                <a href="http://">
                                    <h3>
                                        15
                                    </h3>
                                    <p>Jan</p>
                                </a>
                            </div>
                            <div class="blog-inform">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="blog-item-img">
                                <img src="images/blog5.webp" alt="">
                                <a href="http://">
                                    <h3>
                                        15
                                    </h3>
                                    <p>Jan</p>
                                </a>
                            </div>
                            <div class="blog-inform">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-right-container">
                        <div class="blog-right-item blog-right-search">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Search Keyword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button type="button" class="search-btn">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <button class="search-submit-btn btn">Search</button>
                                </div>
                            </form>
                        </div>
                        <div class="blog-right-item blog-categories">
                            <h4>Category</h4>

                            <ul>
                                <li>
                                    <a href="#">Restaurant food(27)</a></li>


                                <li>
                                    <a href="#">Travel news(18)</a></li>

                                <li>
                                    <a href="#">Modern Technology(24)</a></li>



                                <li>
                                    <a href="#">Product(33)</a></li>


                                <li>
                                    <a href="#">Inspiration(12)</a></li>

                                <li>
                                    <a href="#">Health Care(21)</a></li>


                            </ul>
                        </div>
                        <div class="blog-right-item recent-post">
                            <h4>
                                Recent Post
                            </h4>
                            <div class="blog-post-container">
                                <div class="recent-post-img">
                                    <img src="images/recentpost1.webp" alt="" srcset="">
                                </div>
                                <div class="recent-post-text">
                                    <a href="#">
                                        <h3>From life was you fish...</h3>
                                    </a>

                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                            <div class="blog-post-container">
                                <div class="recent-post-img">
                                    <img src="images/recentpost2.webp" alt="" srcset="">
                                </div>
                                <div class="recent-post-text">
                                    <a href="#">
                                        <h3>The Amazing Hubble</h3>
                                    </a>

                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="blog-post-container">
                                <div class="recent-post-img">
                                    <img src="images/recentpost3.webp" alt="" srcset="">
                                </div>
                                <div class="recent-post-text">
                                    <a href="#">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>

                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="blog-post-container">
                                <div class="recent-post-img">
                                    <img src="images/recentpost4.webp" alt="" srcset="">
                                </div>
                                <div class="recent-post-text">
                                    <a href="#">
                                        <h3>Asteroids telescope</h3>
                                    </a>

                                    <p>01 Hours ago</p>
                                </div>
                            </div>

                        </div>
                        <div class="blog-right-item tag-clouds">
                            <div class="blog-post-container">
                                <h4>
                                    Tag Clouds
                                </h4>
                                <ul>
                                    <li>
                                        <a href="#">project</a>
                                    </li>
                                    <li>
                                        <a href="#">love</a>
                                    </li>
                                    <li>
                                        <a href="#">technology</a>
                                    </li>
                                    <li>
                                        <a href="#">travel</a>
                                    </li>
                                    <li>
                                        <a href="#">restaurant</a>
                                    </li>
                                    <li>
                                        <a href="#">life style</a>
                                    </li>
                                    <li>
                                        <a href="#">design</a>
                                    </li>
                                    <li>
                                        <a href="#">illustration</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-right-item instagram-feeds">
                            <h4>
                                Instagram feeds
                            </h4>
                            <div class="blog-post-container">
                                <ul>
                                    <li>
                                        <a><img src="images/instfeed1.webp" alt=""></a>
                                    </li>
                                    <li>
                                        <a><img src="images/instfeed2.webp" alt=""></a>
                                    </li>
                                    <li>
                                        <a><img src="images/instfeed3.webp" alt=""></a>
                                    </li>
                                    <li>
                                        <a><img src="images/instfeed4.webp" alt=""></a>
                                    </li>
                                    <li>
                                        <a><img src="images/instfeed5.webp" alt=""></a>
                                    </li>
                                    <li>
                                        <a><img src="images/instfeed6.webp" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-right-item blog-subscribe">
                            <h4>
                                Subscribe
                            </h4>
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="email" class="form-control" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">


                                    </div>
                                    <button type="submit" class="search-submit-btn btn w-100">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog area ends -->

