@model ProductVM
@{
    ViewData["Title"] = "Index";
}
  @await Component.InvokeAsync("Banner",new { Title = "Product List" })

   <!-- Product List area starts -->
    <section class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product-filter">
                        <div class="single-product-filter-div">
                            <form action="#">
                                <input type="text" name="#" placeholder="Search keyword">
                                <i class="fas fa-search"></i>
                            </form>
                        </div>


                        <div class="single-product-filter-div">
                            <div class="product-categories">
                                <div class="category-list">Category <i class="right fas fa-caret-down"></i> </div>
                                <div class="category-list-items" style="display: none;">
                                    <p><a href="#">New</a></p>
                                    <p><a href="#"> Featured</a></p>
                                    <p><a href="#">Offer</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="single-product-filter-div">
                            <div class="product-prices">
                                <div class="price-list">Price <i class="right fas fa-caret-down"></i> </div>
                                <div class="price-list-items" style="display: none;">
                                    <p><a href="#">$5-$20</a></p>
                                    <p><a href="#"> $20-$100</a></p>
                                    <p><a href="#">$100-$500</a></p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="col-md-8">
                    <div class="product-items">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-product-item">
                                    <img src="images/filter6.webp" alt="">
                                    <h3><a href="single-product.html">Cervical pillow for airplane car office nap pillow</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-product-item">
                                    <img src="images/filter5.webp" alt="">
                                    <h3><a href="single-product.html">Geometric striped flower home classy decor</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-product-item">
                                    <img src="images/filter3.webp" alt="">
                                    <h3><a href="single-product.html">Foam filling cotton slow rebound pillows</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-product-item">
                                    <img src="images/filter4.webp" alt="">
                                    <h3><a href="single-product.html">Memory foam filling cotton Slow rebound pillows</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-product-item">
                                    <img src="images/filter2.webp" alt="">
                                    <h3><a href="single-product.html">Sleeping orthopedic sciatica Back Hip Joint Pain relief</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-product-item">
                                    <img src="images/filter1.webp" alt="">

                                    <h3><a href="single-product.html">Memory foam filling cotton Slow rebound pillows</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-product-item">
                                    <img src="images/filter3.webp" alt="">
                                    <h3><a href="single-product.html">Cervical pillow for airplane car office nap pillow</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-product-item">
                                    <img src="images/filter5.webp" alt="">
                                    <h3> <a href="single-product.html">Geometric striped flower home classy decor</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-product-item">
                                    <img src="images/filter4.webp" alt="">
                                    <h3>
                                        <a href="single-product.html">Sleeping orthopedic sciatica Back Hip Joint Pain relief</a></h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-product-item">
                                    <img src="images/filter2.webp" alt="">
                                    <h3>
                                        <a href="single-product.html">Memory foam filling cotton Slow rebound pillows</a></h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="load-more">Load More</button>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Product List area ends -->
    <!-- Testimonial slider starts -->
    <section class="testimonial-slider">

        <div class="container">
            <div class="row justify-content-center align-items-center pt-5">
                <div class="col-lg-8">
                    <div class="owl-carousel">

                        <div class="item">
                            <div class="testimonial-img">
                                <img class="img-circle" src="images/testimonial1.webp" alt="">
                                <i class="fas fa-file-alt"></i>
                            </div>
                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>


                            <div class="testimonial-name">
                                <h5>- Justin Clifford</h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-img">
                                <img class="img-circle" src="images/testimonial2.webp" alt="">
                                <i class="fas fa-file-alt"></i>

                            </div>

                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>

                            <div class="testimonial-name">
                                <h5>- Edwin Schmaizer</h5>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-img">
                                <img class="img-circle" src="images/testimonial3.webp" alt="">
                                <i class="fas fa-file-alt"></i>

                            </div>

                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>

                            <div class="testimonial-name">
                                <h5>- Crispy Dankovic</h5>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Testomonial slider ends -->
    <!-- Shop method area starts -->
    <section class="shop-method-area section-padding30">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="shopping-method mb-40">
                        <i class="fab fa-dropbox"></i>
                        <h6>Free Shipping Method</h6>
                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="shopping-method mb-40">
                        <i class="fas fa-unlock"></i>
                        <h6>Secure Payment System</h6>
                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="shopping-method mb-40">
                        <i class="fas fa-sync"></i>
                        <h6>Secure Payment System</h6>
                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop method area ends -->
    <!-- Subscribe area starts -->
    @await Html.PartialAsync("_SubscribePartial", Model.Subscribe)    
    <!-- Subscribe area ends -->

