@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
footer .footer-padding {
  padding-top: 150px;
  padding-bottom: 120px;
}

footer .footer-area .footer-logo {
  margin-bottom: 40px;
}

footer .footer-area .footer-title {
  font-size: 16px;
}

footer .footer-area .footer-title p {
  color: #868c98;
  margin-bottom: 50px;
  line-height: 1.8;
}

footer .footer-area .footer-title h4 {
  color: #000;
  font-size: 20px;
  margin-bottom: 29px;
  text-transform: capitalize;
}

footer .footer-area .footer-title ul {
  padding-left: 0 !important;
}

footer .footer-area .footer-title ul li {
  color: #012f5f;
  margin-bottom: 15px;
}

footer .footer-area .footer-title ul li a {
  color: #868c98;
  font-weight: 300;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-weight: 400;
}

footer .footer-area .footer-title ul li a:hover {
  color: #2577fd;
  padding-left: 5px;
}

footer .footer-area .single-footer-div {
  margin-bottom: 50px;
}

footer .footer-area .footer-copy-right {
  padding-top: 50px;
}

footer .footer-area .footer-copy-right p {
  color: #888888;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 20px;
}

footer .footer-area .footer-copy-right p i {
  color: #2577fd;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

footer .footer-area .footer-copy-right .footer-social a i {
  color: #222222;
  margin-right: 12px;
  font-size: 14px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.hero__img.animate__animated.animate__bounceIn {
  --animate-duration: 0.4s;
}

.hero__caption span.animate__animated.animate__fadeInRight {
  --animation-delay: 0.4s;
}

.hero__caption h1.animate__animated.animate__fadeInRight {
  --animation-delay: 0.6s;
}

.hero__caption p.animate__animated.animate__fadeInRight {
  --animation-delay: 0.8s;
}

.hero__caption .hero__btn.animate__animated.animate__fadeInRight {
  --animation-delay: 1s;
}

header #main-navbar {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

header ul,
header ul li {
  list-style-type: none;
  text-transform: capitalize;
}

header a {
  text-decoration: none !important;
}

header .logo {
  padding: 0;
}

header .logo img {
  vertical-align: middle;
  border-style: none;
}

.sticky {
  top: 0;
  width: 100%;
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
          box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  background: #fff;
  padding: 0px 170px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding-top: 15px !important;
  padding-bottom: 0px !important;
}

.msticky {
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  top: 0;
  width: 100%;
  left: 0;
  margin: auto;
  position: fixed !important;
  top: 0;
  padding: 0px !important;
  padding-top: 15px !important;
  padding-bottom: 0px !important;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.hero__img.animate__animated.animate__bounceIn {
  --animate-duration: 0.4s;
}

.hero__caption span.animate__animated.animate__fadeInRight {
  --animation-delay: 0.4s;
}

.hero__caption h1.animate__animated.animate__fadeInRight {
  --animation-delay: 0.6s;
}

.hero__caption p.animate__animated.animate__fadeInRight {
  --animation-delay: 0.8s;
}

.hero__caption .hero__btn.animate__animated.animate__fadeInRight {
  --animation-delay: 1s;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

#main-navbar .top-header {
  padding: 13px 170px;
}

#main-navbar .top-header .nav-item .nav-link {
  color: #fff;
}

#main-navbar .bottom-header {
  padding: 0px 170px;
}

#main-navbar .bottom-header .nav .nav-item:hover ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
  left: 10%;
}

#main-navbar .bottom-header .nav .nav-item ul {
  position: absolute;
  width: 170px;
  background: #fff;
  left: 0;
  top: 90%;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  border-top: 5px solid #ff003c;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  color: #000;
}

#main-navbar .bottom-header .nav .nav-item ul li {
  position: relative;
  margin-left: 8px;
  display: block;
  z-index: 1;
  color: #000;
  padding: 0.3rem;
}

#main-navbar .bottom-header .nav .nav-item ul li a {
  color: #000;
  padding: 10px 15px;
}

#main-navbar .bottom-header .nav .nav-item ul li:hover a {
  color: #ff003c;
}

#main-navbar .bottom-header .nav .nav-item:hover .nav-link {
  color: #ff003c;
}

#main-navbar .bottom-header .nav .nav-item .nav-link {
  color: #000;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

#main-navbar .bottom-header .nav .latest {
  position: relative;
}

#main-navbar .bottom-header .nav .latest::before {
  position: absolute;
  content: "HOT";
  background: #ff003c;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-size: 10px;
  top: -8px;
  right: -11px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 3px 8px;
  font-weight: 500;
  letter-spacing: 1px;
}

#main-navbar .bottom-header .form-box {
  position: relative;
  width: 85%;
}

#main-navbar .bottom-header .form-box input {
  border: 1px solid #eeeeee;
  border-radius: 30px;
  padding: 10px 15px;
}

#main-navbar .bottom-header .form-box .search-icon {
  position: absolute;
  top: 12px;
  right: 17px;
}

#main-navbar .bottom-header .form-box .search-icon i {
  color: #6c6a6a;
  cursor: pointer;
}

#main-navbar .bottom-header .bottom-header-right {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#main-navbar .bottom-header .bottom-header-right li {
  padding-left: 20px;
}

#main-navbar .bottom-header .bottom-header-right li .favorit-items {
  position: relative;
}

#main-navbar .bottom-header .bottom-header-right li .favorit-items i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  color: #4e4e4e;
  font-size: 19px;
  cursor: pointer;
}

#main-navbar .bottom-header .bottom-header-right li .favorit-items::before {
  position: absolute;
  content: "02";
  width: 25px;
  height: 25px;
  background: #00b1ff;
  color: #fff;
  line-height: 25px;
  text-align: center;
  border-radius: 30px;
  font-size: 12px;
  top: 0px;
  right: -6px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#main-navbar .bottom-header .bottom-header-right li .shopping-card {
  position: relative;
}

#main-navbar .bottom-header .bottom-header-right li .shopping-card::before {
  position: absolute;
  content: "02";
  width: 25px;
  height: 25px;
  background: #00b1ff;
  color: #fff;
  line-height: 25px;
  text-align: center;
  border-radius: 30px;
  font-size: 12px;
  top: 0px;
  right: -6px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#main-navbar .bottom-header .bottom-header-right li .shopping-card i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  color: #4e4e4e;
  font-size: 14px;
  cursor: pointer;
}

#main-navbar .bottom-header .bottom-header-right .header-btn {
  background: #2577fd;
  text-transform: capitalize;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  padding: 27px 44px;
  border-radius: 25px;
  margin: 10px;
  -webkit-transition: color 0.4s linear;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
  padding: 25px 28px !important;
}

#main-navbar .bottom-header .bottom-header-right .header-btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  color: #fff !important;
  z-index: -1;
}

#main-navbar .bottom-header .bottom-header-right .header-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00b1ff;
  z-index: 1;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#main-navbar .bottom-header .bottom-header-nav {
  width: 54% !important;
}

.bottom-header .col-12 .mobile-navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.bottom-header .col-12 .mobile-navbar #myLinks {
  height: 100%;
  clear: both;
  color: #fff;
  margin: 0;
  font-size: .875em;
  -webkit-transition: 1s;
  transition: 1s;
}

.bottom-header .col-12 .mobile-navbar #myLinks .mobile-submenu {
  display: none;
}

.bottom-header .col-12 .mobile-navbar a {
  color: white !important;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.bottom-header .col-12 .mobile-navbar a:hover {
  color: black;
  border-radius: 6px;
  background: #ccc;
  color: #fff;
}

.bottom-header .col-12 .mobile-navbar a:focus {
  outline: unset !important;
  outline-offset: -2px;
}

.bottom-header .col-12 .mobile-navbar .icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.bottom-header .col-12 .mobile-navbar .active {
  color: white;
}

.bottom-header .col-12 .mobile-navbar .mobile-navbar-menu {
  font-size: 16px;
  background: #4c4c4c;
  padding: 8px;
  height: 100%;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.bottom-header .col-12 .mobile-navbar .mobile-navbar-menu::after, .bottom-header .col-12 .mobile-navbar .mobile-navbar-menu::before {
  content: " ";
  display: table;
}

.bottom-header .col-12 .mobile-navbar .mobile-navbar-menu::after {
  clear: both;
}

.bottom-header .col-12 .mobile-navbar .mobile-navbar-menu .mobile-nav-btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  background-color: #222;
  position: relative;
  display: block;
  float: right;
  padding: 0.438em 0.625em;
  line-height: 1.125em;
}

.bottom-header .col-12 .mobile-navbar .mobile-navbar-menu .mobile-nav-btn:hover {
  color: unset;
}

.bottom-header .col-12 .mobile-navbar .mobile-navbar-menu .mobile-nav-btn .mobile-nav-menu-txt {
  display: block;
  line-height: 1.188em;
  float: left;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 3px #000;
}

.bottom-header .col-12 .mobile-navbar .mobile-navbar-menu .mobile-nav-btn .mobile-nav-icon {
  float: left;
  width: 1.125em;
  height: 0.875em;
  margin: 0.188em 0 0 0.438em;
}

.bottom-header .col-12 .mobile-navbar .mobile-navbar-menu .mobile-nav-btn .mobile-nav-icon::before {
  background: 0 0;
  width: 1.125em;
  height: 0.875em;
  display: block;
  content: "";
  position: absolute;
}

.bottom-header .col-12 .mobile-navbar .mobile-navbar-menu .mobile-nav-btn .mobile-nav-icon .mobile-nav-icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.bottom-header .col-12 .mobile-navbar .mobileanchor {
  padding: 5px 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1600px) {
  #main-navbar .bottom-header {
    padding: 0px 10px !important;
  }
}

@media only screen and (max-width: 991px) {
  #main-navbar .bottom-header {
    padding: 12px 25px !important;
  }
}

@media only screen and (min-width: 987px) and (max-width: 1600px) {
  #main-navbar .top-header {
    padding: 13px 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 987px) {
  .bottom-header .fix-card {
    position: absolute;
    top: 12px;
    right: 0px;
  }
}

@media only screen and (max-width: 576px) {
  #main-navbar .bottom-header {
    padding: 20px 45px !important;
  }
  .bottom-header .fix-card {
    padding-left: 0px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 988px) and (max-width: 1200px) {
  .bottom-header .fix-card {
    position: relative !important;
    right: -10% !important;
  }
}

@media only screen and (max-width: 982px) {
  #main-navbar .sticky {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider-height {
    min-height: 700px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-height {
    min-height: 500px !important;
  }
  .slider-area .hero__img {
    left: -28px !important;
  }
  .slider-area .hero__img img {
    height: 500px !important;
  }
  .slider-area .hero__caption h1 {
    font-size: 60px !important;
    line-height: 1.2 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-height {
    min-height: 500px !important;
  }
  .slider-area .hero__img {
    left: -83px !important;
    bottom: 0px !important;
  }
  .slider-area .hero__img img {
    height: 500px !important;
  }
  .slider-area .hero__caption h1 {
    font-size: 50px !important;
    line-height: 1.2 !important;
  }
}

@media (max-width: 767px) {
  .slider-height {
    min-height: 350px !important;
  }
  .slider-area .hero__caption {
    padding-top: 38px;
    padding-left: 22px;
  }
  .slider-area .hero__caption h1 {
    font-size: 35px !important;
    line-height: 1.2 !important;
    margin-bottom: 26px !important;
  }
  .slider-area .hero__caption p {
    margin-bottom: 30px !important;
  }
}

.custom-btn {
  background: #2577fd !important;
  text-transform: capitalize !important;
  color: #fff !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  line-height: 0 !important;
  margin-bottom: 0 !important;
  padding: 27px 44px !important;
  border-radius: 25px !important;
  margin: 10px !important;
  cursor: pointer !important;
  -webkit-transition: color 0.4s linear !important;
  transition: color 0.4s linear !important;
  position: relative !important;
  z-index: 1 !important;
  border: 0 !important;
  overflow: hidden !important;
  margin: 0 !important;
}

.slider-area {
  margin-top: -1px;
}

.slider-area .single-slider {
  position: relative;
}

.slider-area .single-slider .hero__caption {
  margin-left: 23%;
}

.slider-area .single-slider .hero__caption span {
  font-family: 'Yellowtail', cursive;
  color: #2577fd;
  font-size: 40px;
  display: inline-block;
}

.slider-area .single-slider .hero__caption h1 {
  color: #1f2022;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: capitalize;
  margin-bottom: 13px;
}

.slider-area .single-slider .hero__caption p {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 39px;
  color: #313639;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.slider-area .single-slider .hero__caption .hero-btn {
  padding: 25px 29px;
}

.slider-area .single-slider .hero__caption .hero-btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  color: #fff !important;
  z-index: -1;
}

.slider-area .single-slider .hero__caption .hero-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00b1ff;
  z-index: 1;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.slider-area .single-slider .hero__img {
  position: relative;
  bottom: -36px;
  left: -114px;
}

.slider-area .slider-height {
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: initial !important;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}
/*# sourceMappingURL=app.css.map */